﻿@model Infusion.MovieScavengerApp.ViewModels.MovieViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Movie Scavenger - Add Movie</title>
</head>
<body>
<div>
    <h1>Add Movie</h1>
    @using (var form = Html.BeginForm("AddMovie", "Movie"))
    {
        @* Extra task 4: add support for entering actors/cast *@
        <table>
            <thead>
            <tr><th>Title</th><th>Release Date</th></tr>
            </thead>
            <tbody>
            <tr><td><input type="text" name="title"/></td><td><input type="text" name="releaseDate"/></td></tr>
            </tbody>
        </table>
        
        <input type="submit" title="Submit" />
    }
</div>
</body>
</html>